body, html {
    margin: 0;
}

.top {
    width: 100%;
    height: 82px;
    background: linear-gradient(to bottom, #4e69a2, #3e5b99, #3b5998);
    border-color: #133783;
    border-width: 0px 0px 1.4px 0px;
    border-style: solid;
}

.logo-esc {
    width: 168px;
    margin: 31.4px 400px 0px 185.5px;
    /* T R B L */
}

.top-input {
    border: solid 1px #1d2a5b;
    border-radius: 0%;
    width: 143px;
    height: 19px;
    margin-right: 10px;
}

.btn-entrar {
    width: 49px;
    height: 24px;
    border-radius: 2px;
    border: solid 1px #29487d;
    font-weight: bold;
    color: white;
    background-color: #4267b2;
    font-size: 12px;
}

.btn-entrar:hover{
    background-color: #3b5998;
    cursor: pointer;
}

td {
    color: white;
    font-family: sans-serif;
    font-size: 12px;
}

table {
    margin: -54px 0px 50px 785px;
}

a {
    text-decoration: none;
}

.content {
    background: linear-gradient(to bottom, #fff, #d4d9e8);
    height: 100vh;
    width: 100%;
}

.left-div {
    width: 448px;
    margin: 40px 0px 0px 185px;
    /* T R B L */
}

h3 {
    font-family: sans-serif;
    color: #0e385f;
    word-spacing: -1px;
    line-height: 29px;
    font-size: 20px;
}

.img-left-div {
    margin: -20px 0px 0px 185px;
}

.right-div {
    float: right;
    width: 500px;
    margin: -149px 84px 0px 0px;
}

.parag {
    font-family: sans-serif;
    margin-top: -13px;
    font-size: 18.5px;
    word-spacing: 1px;
    color: #1d2129;
}

h1 {
    font-family: sans-serif;
    font-size: 36.5px;
    color: #333;
    word-spacing: -1px;
}

.nome-sob {
    width: 183px;
    height: 32px;
    margin: 5px 7px 5px 0px;
    border: solid 1px #bdc7d8;
    border-radius: 5px;
    padding: 5px 0px 0px 8.5px;
}

.email-cel, .pass {
    width: 387px;
    height: 32px;
    border: solid 1px #bdc7d8;
    margin: 5px 4px 5px 0px;
    border-radius: 5px;
    padding: 5px 0px 0px 8.5px;
}

::placeholder {
    color: #999;
    font-size: 18px;
}

form {
    margin-top: -4px;
}

h4 {
    font-family: sans-serif;
    color: #90949c;
    margin: 17px -0.3px 0px 0px;
}

select {
    border-color: #ccd0d5;
    width: 54px;
    height: 30px;
    margin-right: -4px;
    padding: 2px 0px 0px 4px;
    margin-top: 6px;
}

#year, #month {
    width: 63px;
}

.quest img {
    width: 16px;
    margin: 13px 294px 0px 0px;
    float: right;
}

.genero {
    margin: 12px 0px 10px 0px;
}

label {
    font-family: sans-serif;
    font-size: 18px;
    color: #1d2129;
    margin-right: 10px;
    vertical-align: middle;
}

.rd-genero {
    width: 400px;
}

#feminino {
    margin: 4px 2px 0px 9px;
}

#masculino {
    margin: 4px 2px 0px 9px;
}

#personalizado {
    margin: 4px 2px 0px 5px;
}

.quest-rd img {
    margin: 4px 0px 0px 10px;
    width: 16px;
}

.av-cadastro {
    width: 320px;
    font-family: sans-serif;
    font-size: 16px;
    color: #777;
    
}

.cad-p {
    font-family: sans-serif;
    font-size: 11px;
    line-height: 14px;
    margin-top: 10px;
}

.cad-p a {
    color: #385898;
}

.btn-cadastro {
    width: 194px;
    height: 39px;
    padding-top: 2px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #3b6e22;
    background-color: #69a74e;
    color: white;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 1px;
    background: linear-gradient(#67ae55, #578843);    
    box-shadow: inset 0 1px 1px #a4e388;
    text-shadow: 0px 1px 2px rgba(0,0,0,.5);
}

h5 {
    font-family: sans-serif;
    color: #666;
    margin-top: 37px;
    word-spacing: -1px;
}

h5 a {
    color: #385898;
}